body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, *::after, *::before{
    box-sizing: inherit;
}

header{
    display: flex;
    align-items: center;
    min-height: 6vh;
    transition: background-color 400ms;
    z-index: 2;
}

header > *{
    margin: 0 1rem;
}

header ul{
    padding: 0;
    margin: 0;
}

nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-logo{
    letter-spacing: 3px;
    font-weight: bold;
    color: #3B9FEB;
}

.nav-logo, .nav-link{
    text-transform: uppercase;
}

.nav-item{
    list-style-type: none;
    margin: 0.5rem 1rem;
}


.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:active{
    border-bottom: 2px solid;
}


#donate-nav{
    background-color: transparent;
    padding: 0.3rem 0.7rem;
    border: 3px solid #3B9FEB;
    text-transform: uppercase;
    border-radius: 5px;
}

.line{
    background-color: black;
    border-radius: 10px; 
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: transform 400ms;
}


.burger{
    display: none;
}

.burger:hover{
    cursor: pointer;
}

.burger:hover .line{
    background-color: rgb(103, 103, 103);
    border-color:rgb(103,103,103);
}

.nav-scroll{
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0%;
    width: 100%;
}

.nav-scroll #donate-nav{
    background-color: #3B9FEB;
    color: white;
}

/* Header Styles ends here */

#home{
    display: flex;
    height: 100vh;
}


#home-content{
    align-items: center;
    flex-basis: 70%;
    display: flex;
}

#home-content > div{
    width: 500px;   
    margin-left: 4rem; 
}

h1{
    font-size: 3rem;
}

.home-para{
    line-height: 30px;
}

#donate-btn{
    font-weight: bold;
    font-size: 1rem;
    padding: 0.4rem 2rem;
    background: #3B9FEB;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    color: white;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

#home-pic{
    flex-basis: 30%;
    background-color: #BBBCC2;
}

#home-pic img{
    position: relative;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
}

.blue-hl{
    color: #3B9FEB;
}



@media only screen and (max-width: 768px){
    
    header{
        justify-content: space-between;
        background-color: white;
    }

    nav{
        flex-grow: 0;
        flex-direction: column;
        padding-left: 1rem;
        position: absolute;
        width: 100%;
        margin: 0;
        left: 0;
        top: 6vh;
        z-index: -1;
        background-color: white;
        transform: translateY(-100%);
        transition: transform 500ms;
    }

    .burger{
        display: block;
    }

    .nav-active{
        transform: translateY(0);
    }

    main{
        transition: margin 500ms;
    }

    .shift-main{
        margin-top: 22rem;
    }

    .rotate .line1{
        transform: rotate(-40deg) translate(-5px,6px);
    }

    .rotate .line3{
        transform: rotate(40deg) translate(-5px,-6px);
    }

    .rotate .line2{
        visibility: hidden;
    }

    .nav-top{
        z-index: 0;
    }


    main{
        margin-top: 15.85rem;
    }

    #home{
        flex-direction: column-reverse;
    }

    #home-content{
        text-align: center;
        margin: 0 auto;
    }

    #home-content > div{
        margin: 0;
    }

    #home-pic{
        flex-basis: 100%;
        background-color: white;
    }

    #home-pic img{
        max-width: 100%;
        left: 50%;
        top: 0%;
        transform: translate(-50%,0);
    }
}